.foto{
	text-align: center;
	margin: 0 0 100px;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.main a {
	width: 360px;
	padding: 17px 0;
	text-align: center;
	border: 1px solid #F18104;
	font-size: 24px;
	color: #000;
}
.main a:not(:last-child) {
	margin-bottom: 70px;
}