._container__apply {
    max-width: 968px;
    margin: 0 auto;
}

h1 {
    font-size: 42px;
    line-height: 53px;
    text-align: center;
    color: #F18104;
    margin: 70px 0;
}

h2 {
    font-size: 20px;
    line-height: 25px;
    color: #1C1C1B;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 20px;
    color: #1C1C1B;
    max-width: 625px;
}

label {
    margin-bottom: 5px;
}

input {
    background: none;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    width: 280px;
    height: 26px;
}

input[type='submit'] {
    background: #F18104;
    border-radius: 4px;
    color: #fff;
    width: 635px;
    height: 50px;
    margin-bottom: 70px;
}

textarea {
    resize: none;
    width: 968px;
    margin: 70px 0;
    height: 150px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FIO {
    width: 100%;
}

.FIO__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 18px;
    color: #1C1C1B;
}

.FIO__block {
    display: flex;
    flex-direction: column;
}

.second__line {
    width: 100%;
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px 0;
}

.photo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* INPUT FILE */
.input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
}
   
.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
   
.input__file-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #000;
}
   
.input__file-button-text {
    line-height: 1;
    margin-top: 1px;
}
   
.input__file-button {
    width: 100%;
    max-width: 290px;
    height: 60px;
    background: none;
    color: #000;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 4px;
    border: 1px solid #000;
    cursor: pointer;
    margin: 0 auto;
}