/*
***********ШАПКА***********
*/
header {
	background: url('../img/header/bg_header.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 770px;
}

.header__top ul {
	display: flex;
	justify-content: end;
	margin: 0 70px 0 0;
}

.header__bottom {
	display: flex;
	justify-content: space-around;
	font-size: 50px;
	margin-top: 100px;
}

.header__bottom h1 {
	text-align: center;
	max-width: 755px;
	line-height: 64px;
	color: #fff;
}

.drop-item:hover .dropdown {
	display: block;
	top: 35px;
}

/*
***********ДЕНЬ ОТКРЫТЫХ ДВЕРЕЙ***********
*/
.video {
	margin: 80px 0 170px;
}

.bg__opendoors {
	margin: 0;
	position: relative;
	z-index: -1;
}

.bg__opendoors img {
	position: absolute;
	width: 100%;
}

.video__container {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
}

.video__container h2 {
	font-size: 40px;
	color: #F18104;
}

.video__container iframe {
	margin-top: 100px;
}

.video__container a {
	margin-top: 30px;
	padding: 5px 10px;
	border: 2px solid #F18104;
	color: #1C1C1B;
	line-height: 17.82px;
	font-size: 14px;
	font-weight: 600;
}

/*
***********НОВОСТИ***********
*/
.news__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.last__news {
	display: flex;
	flex-direction: column;
	margin-right: 170px;
}

.last__news h2 {
	font-size: 40px;
	color: #F18104;
	margin-bottom: 10px;
}

.last__news img {
	margin-bottom: 23px;
}

.last__news h3 a {
	margin: 10px 0;
	font-size: 30px;
	color: #1C1C1B;
	max-width: 550px;
	line-height: 38px;
	font-weight: 600;
}

.last__news span a {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #636161;
}

.other__news {
	display: flex;
	flex-direction: column;
}

.other__news__container {
	margin-bottom: 17px;
}

.other__news__container a:hover h4 {
	color: #F18104;
}

.other__news__container a:hover p {
	color: #F18104;
}

.news-bottom {
	margin-top: 2px;
	border-bottom: 1px solid #DDDDDD;
	width: 30px;
}

h4 {
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	color: #1C1C1B;
	padding-bottom: 6px;
}

p {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #636161;
}

.bt {
	margin-top: 20px;
	border: 2px solid #F18104;
	border-radius: 4px;
	padding: 6px 0px;
	max-width: 130px;
}

.tex {
	display: flex;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #1C1C1B;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}

.tex:hover {
	color: #F18104;
}

/*
***********SLIDER***********
*/

.slickclider {
	margin: 148px 0px 148px 0px;
	width: 1645px;
}

/* Слайдер */
.slick-slider {
	min-width: 0;
}

.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: flex-start;
}

/* конкретный слайдер */
.slider {
	margin-left: 280px;
}


.slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider .slick-dots li {
	list-style: none;
	margin: 0px 6px;
}

.slider .slick-dots button {
	font-size: 0;
	width: 12px;
	height: 12px;
	background-color: #222222;
	border-radius: 50%;
	border: none;
}

.slider .slick-dots li.slick-active button {
	background-color: #E7723D;
	border: none;
}

.slider__item {
	transition: all 0.3s ease 0s;
	text-align: center;
	padding-left: 60px;
	margin-bottom: 10px;
	display: inline-block;
	margin-top: 60px;
	margin-bottom: 28px;
	user-select: none;

}

.slider__item:active {
	cursor: grab;
}

/*верстка внутри слайдера*/

.sliderr__body {
	width: 400px;
}

.sliderr__title {
	margin-top: 20px;
	font-weight: 600;
	font-size: 24px;
	line-height: 31px;
	color: #1C1C1B;
	user-select: none;

}

.sliderr__text {
	margin-top: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #636161;
	user-select: none;

}

.slider__img {
	position: absolute;
	bottom: 0;
	border: none;
	padding: 0px 378px 65px 7px;
}

.slederr__text {
	position: absolute;
	font-weight: 300;
	font-size: 20px;
	color: #000000;
	bottom: 0;
	padding: 0px 60px 172px 60px;
	text-align: left;
}

.slederr__text2 {
	position: absolute;
	font-weight: 300;
	font-size: 20px;
	color: #000000;
	bottom: 0;
	padding: 0px 60px 148px 60px;
	text-align: left;
}

.slederr__text3 {
	position: absolute;
	font-weight: 300;
	font-size: 20px;
	color: #000000;
	bottom: 0;
	padding: 0px 60px 172px 60px;
	text-align: left;
}

.slidertitle__row {
	align-items: flex-start;
	justify-content: flex-start;
	display: flex;
}

.slidertitle__body {
	padding: 100px 0px 0px 80px;
	color: black;
	display: inline-flex;
}

.slidertitle__title {
	font-weight: 400;
	font-size: 40px;
	line-height: 51px;
	margin-left: 780px;
	color: #F18104;
}

@media (max-width: 1762px) {
	.slider {
		margin-left: 180px;
	}

	.slidertitle__title {
		margin-left: 700px;
	}
}

@media (max-width: 1600px) {
	.slider {
		margin-left: 118px;
	}

	.slidertitle__title {
		margin-left: 650px;
	}
}

@media (max-width: 1448px) {
	.slider {
		margin-left: 20px;
	}

	.slidertitle__title {
		margin-left: 550px;
	}

	.slider .slick-dots {
		margin-right: 160px;
	}
}

@media (max-width: 1280px) {
	.slider {
		margin-left: 0px;
	}

	.slidertitle__title {
		margin-left: 460px;
	}

	.slider .slick-dots {
		margin-right: 330px;
	}

	.slider__item {
		padding-left: 20px;
	}
}

@media (max-width: 1020px) {
	.slider {
		margin-left: 100px;
		width: 900px;
	}

	.slidertitle__title {
		margin-left: 8.6em;
	}

	.slider .slick-dots {
		margin-right: 40em;
	}

	.slider__item {
		padding-left: 20px;
	}
}