.news h2 {
    margin: 75px 0 60px;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    color: #F18104;
}
.news__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}
.news__block {
    display: flex;
    margin-bottom: 70px;
}
.news__block__contant {
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #1C1C1B;
}
.news__block__top h3 a {
    font-size: 32px;
    line-height: 41px;
    color: #1C1C1B;
}
.news__block__top p a {
    font-size: 24px;
    line-height: 31px;
    color: #40403D;
    max-width: 885px;
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}
.news__block__bot {
    font-size: 20px;
    line-height: 25px;
    color: #636161;
}
.news__block__bot a {
    color: #40403D;
}
.grey_line {
    height: 1px;
    width: 100%;
    background: #DDDDDD;
}
.show__more {
    width: 160px;
    height: 60px;
    border: 2px solid #F18104;
    color: #1C1C1B;
    font-size: 24px;
    line-height: 31px;
    background: none;
    margin: 0 auto;
    cursor: pointer;
}
.news__block:nth-child(n + 6) {
    display: none;
}
.news__container .is-visible {
    display: flex;
}
@media (max-width: 1280px){
    .news__fotos{
        object-fit: cover;
        width: 480px;
        height: 280px;
    }
}
@media (max-width: 1024px){
    .news__fotos{
        object-fit: cover;
        width: 320px;
        height: 180px;
    }
    .news__block__top h3 a {
        font-size: 26px;
        line-height: 32px;
        color: #1C1C1B;
    }
    .news__block__top p a {
        font-size: 20px;
        line-height: 26px;
    }
    .news__block__bot {
        font-size: 20px;
        line-height: 25px;
        color: #636161;
        margin-top: 20px;
    }
}
@media (max-width: 768px){
    .news h2 {
        margin: 55px 0 40px;
        font-size: 40px;
        line-height: 51px;
        text-align: center;
        color: #F18104;
    }
    .news__fotos{
        object-fit: cover;
        width: 260px;
        height: 160px;
    }
    .news__block__top h3 a {
        font-size: 25px;
        line-height: 34px;
        color: #1C1C1B;
    }
    .news__block__top p a {
        font-size: 18px;
        line-height: 24px;
    }
    .news__block__bot {
        font-size: 16px;
        line-height: 25px;
        color: #636161;
        margin-top: 20px;
    }
    .show__more {
        width: 120px;
        height: 40px;
        border: 2px solid #F18104;
        color: #1C1C1B;
        font-size: 20px;
        line-height: 31px;
        background: none;
        margin: 0 auto;
        cursor: pointer;
    }
}
@media (max-width: 660px){
    .news__fotos{
        object-fit: cover;
        width: 240px;
        height: 150px;
    }
    .news__block__contant {
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #1C1C1B;
    }
    .news__block__top h3 a {
        font-size: 22px;
        line-height: 30px;
        color: #1C1C1B;
    }
    .news__block__top p a {
        font-size: 16px;
        line-height: 22px;
    }
    .news__block__bot {
        font-size: 14px;
        line-height: 25px;
        color: #636161;
        margin-top: 20px;
    }
    .show__more {
        width: 120px;
        height: 40px;
        border: 2px solid #F18104;
        color: #1C1C1B;
        font-size: 20px;
        line-height: 31px;
        background: none;
        margin: 0 auto;
        cursor: pointer;
    }
}
@media (max-width: 425px){
    .news__container {
        margin-bottom: 60px;
    }
    .news__block {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }
    .news h2 {
        margin: 25px 0 10px;
        font-size: 32px;
        line-height: 41px;
        text-align: center;
        color: #F18104;
    }
    .news__fotos{
        object-fit: cover;
        width: 280px;
        height: 160px;
    }
    .news__block__contant {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #1C1C1B;
    }
    .news__block__top h3 a {
        font-size: 20px;
        line-height: 30px;
        color: #1C1C1B;
    }
    .news__block__top p a {
        font-size: 16px;
        line-height: 22px;
    }
    .news__block__bot {
        font-size: 14px;
        line-height: 25px;
        color: #636161;
        margin-top: 20px;
    }
    .show__more {
        width: 120px;
        height: 40px;
        border: 2px solid #F18104;
        color: #1C1C1B;
        font-size: 20px;
        line-height: 31px;
        background: none;
        margin: 0 auto;
        cursor: pointer;
    }
}